@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  touch-action: manipulation; /* Убирает задержку клика на мобилках */
}

/* Убедитесь, что контейнер карты занимает всё пространство */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  outline: none;
}

/* Фикс для корректного отображения плиток */
.leaflet-tile-pane {
  -webkit-transform: translateZ(0);
}
